<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Tolong Aku!"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tolong_Aku"
        tools:targetApi="31">
        <activity
            android:name=".LoginHelper_Polisi"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".cobaTimSar" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".coba1"
            android:exported="false" />
        <activity
            android:name=".ujicoba"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".LoginHelper"
            android:exported="false" />
        <activity
            android:name=".Telepon"
            android:exported="false" />
        <activity
            android:name=".Ambulance_lanjutan"
            android:exported="false" />
        <activity
            android:name=".Ambulance"
            android:exported="false" />
        <activity
            android:name=".Dokter_lanjutan"
            android:exported="false" />
        <activity
            android:name=".Dokter"
            android:exported="false" />
        <activity
            android:name=".Pemadam_lanjutan"
            android:exported="false" />
        <activity
            android:name=".Pemadam"
            android:exported="false" />
        <activity
            android:name=".Polisi_lanjutan"
            android:exported="false" />
        <activity
            android:name=".Polisi"
            android:exported="false" />
        <activity
            android:name=".Rumah_sakit"
            android:exported="false" />
        <activity
            android:name=".Tim_sar_lanjutan"
            android:exported="false" />
        <activity
            android:name=".Tiim_sar"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Tim_sar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme = "@style/Theme.App.SplashScreen">

            <!-- <activity -->
            <!-- android:name="NewsActivity" -->
            <!-- android:exported="true"> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>